<section class="mx-auto w-full md:w-1/2 pb-8 md:pb-32 pt-8 px-4 mt-[90px]">
  <h1 class="font-extrabold text-center text-[#003F62] text-2xl md:text-3xl">Welcome,</h1>
  <h1 class="font-bold text-[#003F62] text-center pb-5 text-xl md:text-2xl">Login Now Please</h1>
  <div class="bg-gray-200 shadow-md shadow-[#003F62] rounded-xl p-6">
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <!-- Email Field -->
      <div class="relative z-0 w-full mb-5 group">
        <input formControlName="email" type="email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Your Email</label>
        @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched) {
          <div class="mt-2 flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:text-red-800 dark:border-red-800" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <div>
              @if (loginForm.get('email')?.hasError('required')) {
                <h1>Email is required.</h1>
              }
              @if (loginForm.get('email')?.hasError('email')) {
                <h1>Enter a valid email.</h1>
              }
            </div>
          </div>
        }
      </div>

      <!-- Password Field -->
      <div class="relative z-0 w-full mb-5 group">
        <input formControlName="password" type="password" id="floating_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Your Password</label>
        @if (loginForm.get('password')?.errors && loginForm.get('password')?.touched) {
          <div class="mt-2 flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:text-red-800 dark:border-red-800" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <div>
              @if (loginForm.get('password')?.hasError('required')) {
                <h1>Password is required.</h1>
              }
              @if (loginForm.get('password')?.hasError('pattern')) {
                <h1>Password must start with a capital letter and be at least 8 characters long.</h1>
              }
            </div>
          </div>
        }
      </div>

      <!-- Submit Button -->
      <div class="flex justify-center items-center md:justify-end p-4">
        <h1 routerLink="/forgotPassword" role="button" class="text-sm font-semibold mb-2 me-2 text-red-600">Forgot Password</h1>
        <button type="submit" [disabled]="isLoading" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-[#003F62] dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-[#1a3343]">
          Sign in
          @if (isLoading) {
            <span><i class="fas fa-spin fa-spinner"></i></span>
          }
        </button>
      </div>

      <!-- Error Message -->
      @if (msgError) {
        <div class="text-center text-red-600 py-2">
          {{ msgError }}
        </div>
      }
    </form>
  </div>
</section>
